# IDE
.vscode

# Node modules
#fronend/node_modules

# Coverage (for testing)
coverage/
.coverage
.cache

# Python byte code
*.pyc

# SQLite3 database
# will leave until others download the project
#*.sqlite
